@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(9, 9, 9);
  height: 100%;
}
body {
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}

div#__next {
  height: 100%;
}

#tsparticles {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}